{% load static %}
 
<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | YES Alumni Morocco</title>
  <!-- Placeholder favicon for development purposes -->
  <link rel="shortcut icon" href="{% static 'static/assets/favicon.ico' %}" type="image/x-icon">
  <!-- For production, change to css/prod-output.css after running npm run build:css -->
  <link href="{% static 'static/css/output.css' %}" rel="stylesheet">
  <script src="{% static 'static/js/main.js' %}"></script>
  <script src="{% static 'node_modules/preline/dist/preline.js' %}"></script>

  <!-- Lucide development package -->
  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

  {% block extend_head %}
    <meta property="og:title" content="YES Alumni Morocco" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yesalumni-morocco.azurewebsites.net" />
    <meta property="og:image" content="" />
  {% endblock %}
</head>
 
<body>
  {% include 'components/navbar.html' %}
  <main class="dark:bg-gray-950 min-h-[80vh] pt-20">
    {% block content %} {% endblock content %}
  </main>
  {% include 'components/footer.html' %}
  <script>lucide.createIcons()</script>
</body>
 
</html>