<header class="sticky top-0 md:justify-start md:flex-nowrap z-50 w-full bg-white border-b border-gray-200 dark:bg-neutral-800 dark:border-neutral-700">
  <nav class="relative max-w-[85rem] w-full mx-auto md:flex md:items-center md:justify-between md:gap-3 py-2 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center gap-x-1">
      <a class="flex-none font-semibold text-xl text-black focus:outline-none focus:opacity-80 dark:text-white" href="/" aria-label="Brand">YES Alumni Association - Morocco</a>

      <!-- Collapse Button -->
      <button type="button" class="hs-collapse-toggle md:hidden relative size-9 flex justify-center items-center font-medium text-[12px] rounded-lg border border-gray-200 text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" id="hs-header-base-collapse"  aria-expanded="false" aria-controls="hs-header-base" aria-label="Toggle navigation"  data-hs-collapse="#hs-header-base" >
        <svg class="hs-collapse-open:hidden size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
        <svg class="hs-collapse-open:block shrink-0 hidden size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        <span class="sr-only">Toggle navigation</span>
      </button>
      <!-- End Collapse Button -->
    </div>

    <!-- Collapse -->
    <div id="hs-header-base" class="hs-collapse hidden overflow-hidden transition-all duration-300 grow md:block"  aria-labelledby="hs-header-base-collapse" >
      <div class="overflow-hidden overflow-y-auto max-h-[75vh] [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
        <div class="py-2 md:py-0  flex flex-col md:flex-row md:items-center gap-0.5 md:gap-1">
          <div class="grow">
            <div class="flex flex-col md:flex-row md:justify-end md:items-center gap-0.5 md:gap-1">

              <!-- About -->
              <div class="hs-dropdown [--strategy:static] md:[--strategy:fixed] [--adaptive:none] [--is-collapse:true] md:[--is-collapse:false]">
                <button id="hs-header-base-mega-menu-small" type="button" class="hs-dropdown-toggle w-full navbar-link" aria-haspopup="menu" aria-expanded="false" aria-label="Mega Menu">
                  <i data-lucide="info" class="shrink-0 size-4 me-3 md:me-2 block md:hidden"></i>
                  About
                  <svg class="hs-dropdown-open:-rotate-180 md:hs-dropdown-open:rotate-0 duration-300 shrink-0 size-4 ms-auto md:ms-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                </button>

                <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 relative md:w-80 hidden z-10 top-full md:bg-white md:rounded-lg md:shadow-md before:absolute before:-top-4 before:start-0 before:w-full before:h-5 dark:md:bg-neutral-800" role="menu" aria-orientation="vertical" aria-labelledby="hs-header-base-mega-menu-small">
                  <div class="py-1 md:px-1 space-y-0.5">

                    <a href="/mission-and-vision" class="navbar-sublink">
                      <i data-lucide="target" class="shrink-0 size-4 mt-1 text-gray-800 dark:text-neutral-200"></i>
                      <div class="grow">
                        <span class="block font-semibold text-sm text-gray-800 dark:text-neutral-200">Mission &amp; Vision</span>
                        <p class="text-sm text-gray-500 dark:text-neutral-500">Participate in our upcoming event!</p>
                      </div>
                    </a>

                    <div class="navbar-divider"></div>

                    <div class="navbar-divider"></div>

                    <a href="/leadership" class="navbar-sublink">
                      <i data-lucide="briefcase-business" class="shrink-0 size-4 mt-1 text-gray-800 dark:text-neutral-200"></i>
                      <div class="grow">
                        <span class="block font-semibold text-sm text-gray-800 dark:text-neutral-200">Leadership</span>
                        <p class="text-sm text-gray-500 dark:text-neutral-500">Browse featured stories and photos of our projects and events!</p>
                      </div>
                    </a>

                    <div class="navbar-divider"></div>

                    <a href="/reports" class="navbar-sublink">
                      <i data-lucide="file-text" class="shrink-0 size-4 mt-1 text-gray-800 dark:text-neutral-200"></i>
                      <div class="grow">
                        <span class="block font-semibold text-sm text-gray-800 dark:text-neutral-200">Reports</span>
                        <p class="text-sm text-gray-500 dark:text-neutral-500">Browse featured stories and photos of our projects and events!</p>
                      </div>
                    </a>

                  </div>
                </div>
              </div>

              <!-- Programs -->
              <a href="/programs" class="navbar-link">
                <i data-lucide="briefcase-business" class="shrink-0 size-4 me-3 md:me-2 block md:hidden"></i>
                Programs
              </a>

              <!-- Our work -->
              <div class="hs-dropdown [--strategy:static] md:[--strategy:fixed] [--adaptive:none] [--is-collapse:true] md:[--is-collapse:false]">
                <button id="hs-header-base-mega-menu-small" type="button" class="hs-dropdown-toggle w-full navbar-link" aria-haspopup="menu" aria-expanded="false" aria-label="Mega Menu">
                  <i data-lucide="list-collapse" class="shrink-0 size-4 me-3 md:me-2 block md:hidden"></i>
                  Our Work
                  <svg class="hs-dropdown-open:-rotate-180 md:hs-dropdown-open:rotate-0 duration-300 shrink-0 size-4 ms-auto md:ms-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                </button>

                <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 relative md:w-80 hidden z-10 top-full md:bg-white md:rounded-lg md:shadow-md before:absolute before:-top-4 before:start-0 before:w-full before:h-5 dark:md:bg-neutral-800" role="menu" aria-orientation="vertical" aria-labelledby="hs-header-base-mega-menu-small">
                  <div class="py-1 md:px-1 space-y-0.5">

                    <a href="#" class="navbar-sublink">
                      <i data-lucide="calendar-arrow-down" class="shrink-0 size-4 mt-1 text-gray-800 dark:text-neutral-200"></i>
                      <div class="grow">
                        <span class="block font-semibold text-sm text-gray-800 dark:text-neutral-200">Upcoming Events</span>
                        <p class="text-sm text-gray-500 dark:text-neutral-500">Participate in our upcoming event!</p>
                      </div>
                    </a>

                    <div class="navbar-divider"></div>

                    <a href="#" class="navbar-sublink">
                      <i data-lucide="newspaper" class="shrink-0 size-4 mt-1 text-gray-800 dark:text-neutral-200"></i>
                      <div class="grow">
                        <span class="block font-semibold text-sm text-gray-800 dark:text-neutral-200">Past Events <span class="inline ms-1 font-medium text-xs bg-blue-600 text-white py-1 px-2 rounded-full">We're hiring</span></span>
                        <p class="text-sm text-gray-500 dark:text-neutral-500">Meet the people building products to help your business grow</p>
                      </div>
                    </a>

                    <div class="navbar-divider"></div>

                    <a href="/stories" class="navbar-sublink">
                      <i data-lucide="images" class="shrink-0 size-4 mt-1 text-gray-800 dark:text-neutral-200"></i>
                      <div class="grow">
                        <span class="block font-semibold text-sm text-gray-800 dark:text-neutral-200">Gallery</span>
                        <p class="text-sm text-gray-500 dark:text-neutral-500">Browse featured stories and photos of our projects and events!</p>
                      </div>
                    </a>

                  </div>
                </div>
              </div>

              <!-- Partners -->
              <a href="/partners" class="navbar-link">
                <i data-lucide="handshake" class="shrink-0 size-4 me-3 md:me-2 block md:hidden"></i>
                Partners
              </a>

              <!-- Contact -->
              <a href="/contact" class="navbar-link">
                <i data-lucide="mail-open" class="shrink-0 size-4 me-3 md:me-2 block md:hidden"></i>
                Contact
              </a>

            </div>
          </div>

          <div class="my-2 md:my-0 md:mx-2">
            <div class="w-full h-px md:w-px md:h-4 bg-gray-100 md:bg-gray-300 dark:bg-neutral-700"></div>
          </div>

          <!-- Button Group -->
          <div class="flex flex-wrap items-center gap-x-1.5">
            <a href="#" class="py-[7px] px-2.5 inline-flex items-center font-medium text-sm rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 focus:outline-none focus:bg-gray-100 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
              Register
            </a>
            <a href="#" class="py-2 px-2.5 inline-flex items-center font-medium text-sm rounded-lg bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:bg-blue-700">
              Donate
            </a>
          </div>
          <!-- End Button Group -->
        </div>
      </div>
    </div>
    <!-- End Collapse -->
  </nav>
</header>
