{% extends "_base.html" %}

{% block title %}Contact us!{% endblock %}

{% block extra_head %}

{% endblock %}
 
{% block content %}

<!-- Contact Us -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="max-w-xl mx-auto">
    <div class="text-center">
      <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl dark:text-white">
        Contact Us!
      </h1>
      <p class="mt-1 text-gray-600 dark:text-neutral-400">
        We'd love to talk about how we can help you.<br>
        Or how you can help us.
        {% comment %} Add office location, email and phone. {% endcomment %}
      </p>
    </div>
  </div>

  <div class="mt-12 max-w-lg mx-auto">
    <!-- Card -->
    <div class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-8 dark:border-neutral-700">
      <h2 class="mb-8 text-xl font-semibold text-gray-800 dark:text-neutral-200">
        Let us know what you would like to talk about.
      </h2>

      <form method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        <div class="grid gap-4 lg:gap-6">
          <!-- Grid -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
            <div>
              <label for="first_name" class="contact-form-label">First Name</label>
              <input required type="text" name="first_name" id="first_name" class="contact-form-input">
            </div>

            <div>
              <label for="last_name" class="contact-form-label">Last Name</label>
              <input required type="text" name="last_name" id="last_name" class="contact-form-input">
            </div>
          </div>
          <!-- End Grid -->

          <!-- Grid -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
            <div>
              <label for="email" class="contact-form-label">Email</label>
              <input required type="email" name="email" id="email" autocomplete="email" class="contact-form-input">
            </div>

            <div>
              <label for="phone_number" class="contact-form-label">Phone Number</label>
              <input type="text" name="phone_number" id="phone_number" class="contact-form-input">
            </div>
          </div>
          <!-- End Grid -->

          <div>
            <label for="message" class="contact-form-label">Message</label>
            <textarea required id="message" name="message" rows="4" class="contact-form-input"></textarea>
          </div>

          <!-- Checkbox -->
          <div class="mt-3 flex">
            <div class="flex">
              <input id="privacy_policy" name="privacy_policy" type="checkbox" class="shrink-0 mt-1.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800">
            </div>
            <div class="ms-3">
              <label for="privacy_policy" class="text-sm text-gray-600 dark:text-neutral-400">I have read and acknowledged the <a href="#" class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium dark:text-blue-500">Privacy policy</a></label>
            </div>
          </div>
          <!-- End Checkbox -->

        </div>
        <!-- End Grid -->

        <div class="mt-6 grid">
          <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Send inquiry</button>
        </div>

        <div class="mt-3 text-center">
          <p class="text-sm text-gray-500 dark:text-neutral-500">
            We'll get back to you soon.
          </p>
        </div>
      </form>
    </div>
    <!-- End Card -->

    
  </div>

  <div class="mt-12 grid sm:grid-cols-2 md:max-w-72 items-center gap-4 lg:gap-8">

    <!-- Icon Block -->
    <a href="/frequently-asked-questions" class="group flex flex-col h-full text-center border dark:border-neutral-700 rounded-lg hover:bg-gray-100 focus:outline-none focus:bg-gray-100 p-4 sm:p-6 dark:hover:bg-neutral-500/10 dark:focus:bg-neutral-500/10">
      <i data-lucide="messages-square" class="size-9 text-gray-800 mx-auto dark:text-neutral-200"></i>
      <div class="mt-5">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">FAQ</h3>
        <p class="mt-1 text-gray-500 dark:text-neutral-500">Search our FAQ for answers to anything you might ask.</p>
        <p class="mt-5 inline-flex items-center gap-x-1 font-medium text-blue-600 dark:text-blue-500">
          Visit FAQ
          <i data-lucide="chevron-right" class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1 mt-1"></i>
        </p>
      </div>
    </a>
    <!-- End Icon Block -->

    <!-- Icon Block -->
    <a href="#" class="group flex flex-col h-full text-center border dark:border-neutral-700 rounded-lg hover:bg-gray-100 focus:outline-none focus:bg-gray-100 p-4 sm:p-6 dark:hover:bg-neutral-500/10 dark:focus:bg-neutral-500/10">
      <i data-lucide="heart-handshake" class="size-9 text-gray-800 mx-auto dark:text-neutral-200"></i>
      <div class="mt-5">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">Volunteer</h3>
        <p class="mt-1 text-gray-500 dark:text-neutral-500">Find the right volunteer experience for you.</p>
        <p class="mt-5 inline-flex items-center gap-x-1 font-medium text-blue-600 dark:text-blue-500">
          Browse Opportunities
          <i data-lucide="chevron-right" class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1 mt-1"></i>
        </p>
      </div>
    </a>
    <!-- End Icon Block -->

  </div>
</div>
<!-- End Contact Us -->

{% endblock content %}
