{% extends "_base.html" %}

{% block title %}Home{% endblock %}

{% block extra_head %}

{% endblock %}
 
{% block content %}

<!-- Hero -->
<div class="flex items-center min-h-[90vh] max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8">
  <!-- Grid -->
  <div class="grid lg:grid-cols-7 lg:gap-x-8 xl:gap-x-12 lg:items-center">
    <div class="lg:col-span-3 text-center lg:text-start">
      <h1 class="block text-3xl font-bold text-gray-800 sm:text-4xl md:text-5xl lg:text-6xl dark:text-white">
        YES Alumni <span id="hero-title"><span class="text-blue-600 underline">Impact</span> the world</span>.
      </h1>
      <p class="mt-5 text-lg text-gray-800 dark:text-neutral-400">The official organization for alumni of the <span class="font-bold">Kennedy-Lugar Youth Exchange and Study</span> program in Morocco.</p>

      <div class="mt-5 lg:mt-8 flex flex-col items-center gap-2 sm:flex-row sm:gap-3">
        <a href="#" class="w-full sm:w-auto py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
          Learn more
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </a>
        <a href="{% url 'contact' %}" class="w-full sm:w-auto py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
          Contact us
        </a>
      </div>

    </div>
    <!-- End Col -->

    <div class="lg:col-span-4 mt-10 lg:mt-0">
      <!-- <img class="w-full rounded-xl" src="https://images.unsplash.com/photo-1665686376173-ada7a0031a85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&h=700&q=80" alt="Hero Image"> -->
      <!-- <video class="h-full w-full rounded-lg" poster="" controls autoplay loop muted> -->
      <video class="h-full w-full rounded-lg" poster="" controls muted>
        <source
          src="https://docs.material-tailwind.com/demo.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Hero -->

<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">

  <!-- Title -->
  <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Over The Years</h2>
  </div>
  <!-- End Title -->

  <!-- Grid -->
  <div class="grid gap-6 grid-cols-2 sm:gap-12 lg:grid-cols-3 lg:gap-8">
    <!-- Stats -->
    <div>
      <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-blue-600">1860+</p>
      <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">Lives changed</h4>
      <p class="mt-1 text-gray-500 dark:text-neutral-500">including ours</p>
    </div>
    <!-- End Stats -->

    <!-- Stats -->
    <div>
      <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-blue-600">80+</p>
      <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">Companies and NGOs</h4>
      <p class="mt-1 text-gray-500 dark:text-neutral-500">partnered with us</p>
    </div>
    <!-- End Stats -->

    <!-- Stats -->
    <div>
      <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-blue-600">21</p>
      <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">Moroccan cities</h4>
      <p class="mt-1 text-gray-500 dark:text-neutral-500">served and impacted</p>
    </div>
    <!-- End Stats -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->

  <script>
    const phrases = [
      { title:'Impact', action_verb:'the world'},
      { title:'Change', action_verb:'the future'},
      { title:'Innovate', action_verb:'today'},
      { title:'Inspire', action_verb:'others'}
    ];
    const randomIndex = Math.floor(Math.random() * phrases.length);
    document.getElementById("hero-title").innerHTML = `<span class=\"text-blue-600 underline\">${phrases[randomIndex].title}</span> ${phrases[randomIndex].action_verb}`
  </script>

{% endblock content %}